*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(12, 32, 90);
    padding: 20px
    
}
fieldset{
    margin-left: 30px;
    text-align: center;
    margin-top: 75px;
    width: 1800px;
    height: 200px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.671);
}
p{
    text-align: center;
    font-size: 30px;
}
body{
    background-image: url(Img/fundo-de-renderizacao-3d-parede-de-padrao-em-relevo-grafico-de-cor-cinza-azul-com-sombra-de-luz-do-sol-imagem-para-apresentacao_37129-1467.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


a{
    font-size: 20px;
    color: rgb(255, 255, 255);
}


nav{
    display: flex;
    justify-content: space-evenly;
}

h1{
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px
}